* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
   
   background-color: rgb(9, 9, 48); 
}
.big-container{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container {
    /* background-color: rgb(136, 117, 117); */
    width:100%;
    color: black;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80%;
    
    
    
    

}
.left{
    width: 30%;
    height: 100%;
    border-radius: 10px 0px 0px 10px;
    overflow: hidden;
    background-color: rgb(255, 255, 255);
}
.right{
    overflow: hidden;
    width: 40%;
    background-color: red;
    height: 100%;
    border-radius: 0px 10px 10px 0px;

}
.right img{
    width: 100%;
    height: 100%;
    transition: .3s ease-in-out;
    filter: grayscale(100%);
   backdrop-filter: 10px;
}
.right img:hover{
    transform: scale(1.1);
}
h1 {
    /* background-color: red; */
    padding: 20px 10px;
    text-align: center;
    background-color: rgb(28, 0, 94);
    
    color: white;
}

form {
    display: flex;
    flex-direction: column;
    
    padding: 20px 30px;
    background-color: rgb(255, 255, 255);
    color: black;
    
    
}

.input-div {
    display: flex;
    flex-direction: column;
    gap: 0.1rem;
}

label {
    text-decoration: none;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    font-weight: 600;
    color: navy;
}

label:hover {
    text-decoration: underline;
}

input{
    padding: 5px 10px;
    border-radius: 4px;
    border: 1px solid rgb(215, 215, 215);
    /* box-shadow: 1px 1px 10px rgb(209, 209, 209) ; */
}
input:nth-child(3){
    border: none;
    outline: none;
}
#password, #conPwd{
    border: none;
    outline: none;
    width: 94%;

}
#span{
    border:  1px solid rgb(215, 215, 215);
    display: flex;
    border-radius: 4px;
}
#span > span{
    cursor: pointer;
    transition: .2s ease-in-out all;
}
#span > span:hover{
    color: red;
}
small {
    color: red;
    font-weight: 500;
    visibility: hidden;
    letter-spacing: 1px;
}

#submit {
    /* margin-top: 20px; */
    padding: 10px 5px;
    font-size: 1.2rem;
    color: rgb(246, 246, 246);
    background-color: rgb(28, 0, 94);
    font-weight: 900;
    /* box-shadow: 1px 1px 4px rgb(193, 193, 193); */
    transition: 0.3s all ease-in-out;
    border: none;
    cursor: pointer;
    border-radius: 13px;
}

#submit:hover {
    color: red;
    background-color: antiquewhite;

}

@media only screen and (max-width: 800px) {
   .right{
    display: none;

   }
   .left{
    width: 60%;
    border-radius: 10px;
    border: none;
   }
   h1{
    border: none;
   }
  }
  @media only screen and (max-width: 600px){
  h1{
    font-size: 1.5rem;
  }
  .left{
    width: 90%;
  }
}